body, html {
    height: 100%;
}

.container {
    height: 100%;
}

.search__input.has-results {
    margin-top: 20px;
}

.search__input {
    margin-top: 200px;
}

.pointer {
    cursor: pointer;
}

.result__items {
    margin-top: 10px;
}

.result__items p {
    margin-bottom: 0;
}

.result__items .card {
    padding: 7px;
    width: 100%;
}

.result__item {
    margin-top: 10px;
}

.result__items .result__item:hover {
    background-color: #c4e9ff;
}

.paging {
    margin-top: 20px;
}
